/*------------------------------------------------------------------

Project        :   Pinlist – Directory, Classifieds and Jobs Multipurpose Bootstrap5 HTML5 Listing Template
Version        :   V.1.0
Create Date    :   02/06/22
Copyright      :   Spruko Technologies Private Limited 
Author         :   SPRUKO™
Author URL     :   https://themeforest.net/user/spruko
Support	       :   support@spruko.com
License        :   http://themeforest.net/licenses/standard

-------------------------------------------------------------------*/

/* ###### Plugins ####### */

@import "variables";
@import "plugins/accordion/accordion";
@import "plugins/count-down/flipclock";
@import "plugins/datatable/dataTables.bootstrap";
@import "plugins/datatable/dataTables.bootstrap5";
@import "plugins/datatable/jquery.dataTables";
@import "plugins/date-picker/spectrum";
@import "plugins/gallery-image-zoom/RV-gallery";
@import "plugins/gallery/gallery";
@import "plugins/Image-Zoom/main";
@import "plugins/jquery-countdown/countdown";
@import "plugins/jquery-uislider/jquery-ui";
@import "plugins/owl-carousel/owl.carousel";
@import "plugins/ratings-2/star-rating-svg";
@import "plugins/prettycheckbox/pretty-checkbox";
@import "plugins/primo-slider/primo-slider";
@import "plugins/select2/select2";
// @import "plugins/pscrollbar/pscrollbar";
@import "plugins/tabs/style";
@import "plugins/timeline/timeline";
@import "plugins/video/video";